@inject IHttpContextAccessor HttpContextAccessor

@{ 
    var shoppingList = HttpContextAccessor.HttpContext.Session.Get<List<int>>(SessionHelper.ShoppingCart);
    var shoppingCount = shoppingList == null ? 0 : shoppingList.Count;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maria Elektronics</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/js/site.js"></script>

    <script src="~/js/productType.js"></script>
    <script src="~/js/product.js"></script>
    <style>
        li:hover {
            background-color: #E0B0FF;
        }
        body {
            background-color: #CCCCFF;
        }
        .trow:hover {
            background-color: #E0B0FF;
        }
        .tableSelectedRow {
            background-color: white;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Maria Elektronics</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductType" asp-action="Index">Product type</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark"><span class="fas fa-shopping-cart"></span> &nbsp; (@shoppingCount)</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer bg-white text-muted">
        <div class="container">
            &copy; 2022 - Maria Elektronics -
        </div>
        <div class="container">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            <a href="https://www.instagram.com/lorimaaria/">Instagram: Maria Elektronics</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
